<div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h3>{{this.data.firstName}}</h3>
            </div>
            <div class="card-body">
                <h3>{{this.data.lastName}}</h3>
            </div>
            <div class="card-body">
                <h3>{{this.data.userName}}</h3>
            </div>
            <div class="card-body">
                <h3>{{this.data.age}}</h3>
            </div>
            <div class="card-body">
                <h3>{{this.data.height}}</h3>
            </div>
            <div class="card-body">
                <h3>{{this.data.weight}}</h3>
            </div>
            <div class="card-body">
                <h3>{{this.data.geb}}</h3>
            </div>
            <button class="btn btn-success btn-block" (click)="edit()">
                Edit
            </button>
        </div>
    </div>
</div>
